/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Dancing+Script:wght@400;500;600;700&family=Raleway:ital,wght@0,700;1,400&family=Shalimar&family=Silkscreen&family=Sofia+Sans+Condensed:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200;1,400;1,500;1,700&display=swap");
/* styles reset*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: #000000;
}

h1 {
  font-size: 40px;
  line-height: 1;
  margin: 0px 0px 50px 0px;
}

h2 {
  font-size: 30px;
  line-height: 1;
  margin: 0px 0px 20px 0px;
}

ul {
  list-style: none;
}

/*snippets*/
.header__main .header__nav .burger-box > span::after, .header__main .header__nav .burger-box > span::before, .header__main .header__nav .burger-box > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #878787;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.my-skills .my-skills__header span, .education .education__info > span, .main .main__my__info > span {
  width: 100px;
  height: 2px;
  background-color: #000000;
}

.my-skills .my-skills__items .item__skills4, .my-skills .my-skills__items .item__skills3, .my-skills .my-skills__items .item__skills2, .my-skills .my-skills__items .item__skills1__flip-card {
  margin: auto;
  width: 150px;
  height: 150px;
}
.my-skills .my-skills__items .item__skills4 img, .my-skills .my-skills__items .item__skills3 img, .my-skills .my-skills__items .item__skills2 img, .my-skills .my-skills__items .item__skills1__flip-card img {
  width: 100px;
  height: 100px;
}

/*the main code of page*/
.header__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20svh 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 20svh 1fr/1fr;
  width: 100%;
  height: 100svh;
  background-image: url(../img/header.png);
}
.header__main .header__nav {
  width: 100%;
  height: 100px;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 20% 20% 60%;
      grid-template: 1fr/20% 60%;
  gap: 20%;
  font-size: 16px;
}
@media screen and (max-width: 700px) {
  .header__main .header__nav {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 60% 10% 30%;
        grid-template: 1fr/60% 30%;
    gap: 10%;
  }
}
.header__main .header__nav .header__title {
  width: 100%;
  height: 100px;
  line-height: calc(100px - 50%);
  margin-left: 15px;
  color: aliceblue;
  font-size: larger;
  font-weight: 700;
}
.header__main .header__nav .header__links {
  width: 100%;
  height: 100px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  line-height: calc(100px - 50%);
}
@media screen and (max-width: 700px) {
  .header__main .header__nav .header__links {
    display: none;
  }
}
.header__main .header__nav .header__links .ul__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 15px;
}
.header__main .header__nav .header__links .ul__links .li__links a {
  font-size: 14px;
  text-decoration: none;
  -webkit-box-shadow: inset 0 0 0 0 #54b3d6;
          box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  -webkit-transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.header__main .header__nav .header__links .ul__links .li__links a:hover {
  -webkit-box-shadow: inset 100px 0 0 0 #54b3d6;
          box-shadow: inset 100px 0 0 0 #54b3d6;
  color: rgb(0, 0, 0);
}
.header__main .header__nav .burger-menu {
  display: block;
  width: 100%;
  height: 100%;
  padding: 25px;
}
@media screen and (min-width: 701px) {
  .header__main .header__nav .burger-menu {
    display: none;
  }
}
.header__main .header__nav #burger-check {
  opacity: 0;
  position: absolute;
  right: 32px;
  top: 20px;
}
.header__main .header__nav #burger-check:checked + .burger-box > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__main .header__nav #burger-check:checked + .burger-box > span::before {
  content: "";
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 0;
}
.header__main .header__nav #burger-check:checked + .burger-box > span::after {
  content: "";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}
.header__main .header__nav #burger-check:checked ~ .burger-list {
  right: 0 !important;
  top: 20px !important;
}
.header__main .header__nav .burger-box {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}
.header__main .header__nav .burger-box > span::before {
  content: "";
  top: -6px;
}
.header__main .header__nav .burger-box > span::after {
  content: "";
  top: 6px;
}
.header__main .header__nav .burger-list {
  display: block;
  position: relative;
  top: -150%;
  right: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.header__main .header__nav .burger-list .li__links a {
  font-size: 14px;
  text-decoration: none;
  -webkit-box-shadow: inset 0 0 0 0 #54b3d6;
          box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  -webkit-transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.header__main .header__nav .burger-list .li__links a:hover {
  -webkit-box-shadow: inset 100px 0 0 0 #54b3d6;
          box-shadow: inset 100px 0 0 0 #54b3d6;
  color: rgb(0, 0, 0);
}
.header__main .header__intro {
  width: 100%;
  min-height: 50svh;
  max-height: 75svh;
  text-align: center;
  margin: auto;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__main .header__intro .intro__greating {
  width: 80%;
  height: 80%;
  color: aliceblue;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 2px;
}
@media screen and (max-width: 424px) {
  .header__main .header__intro .intro__greating {
    font-size: 20px;
  }
}

.main {
  width: 100%;
  height: 100svh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
  grid-template-columns: 70% 30%;
  grid-auto-rows: auto;
}
@media screen and (max-width: 700px) {
  .main {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr/1fr;
    margin-top: 20px;
  }
}
.main .main__my__photo {
  width: 100%;
  height: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__my__photo .main__img img {
  width: 200px;
  height: 200px;
  border-radius: 5%;
}
.main .main__my__info {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  text-align: center;
}
.main .main__my__info p {
  text-align: justify;
}
.main .main__my__info p em {
  color: red;
  font-size: 20px;
}

.education {
  width: 100%;
  height: 100svh;
  background-color: #878787;
  padding-top: 20%;
}
.education .education__info {
  width: 80%;
  min-height: 50%;
  max-height: 60%;
  margin: 0 auto;
  text-align: center;
}
.education .education__info > span {
  display: inline-block;
}
.education .education__info p {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}
.education .education__info p .material-symbols-outlined {
  margin-right: 5px;
}

.my-skills {
  width: 100%;
  min-height: 100svh;
  max-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
      grid-template-areas: "header" "items" "intentions";
}
@media screen and (max-width: 767px) {
  .my-skills {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    height: 1300px;
  }
  .my-skills > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
.my-skills .my-skills__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  width: 100%;
  height: 100%;
  grid-area: header;
  text-align: center;
  position: relative;
}
.my-skills .my-skills__header > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.my-skills .my-skills__header span {
  display: inline-block;
}
.my-skills .my-skills__items {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  width: 1fr;
  height: 100%;
  grid-area: items;
  display: -ms-grid;
  display: grid;
  grid-template: 1fr/repeat(4, 1fr);
}
@media screen and (max-width: 767px) {
  .my-skills .my-skills__items {
    width: 1fr;
    height: 1fr;
    display: -ms-grid;
    display: grid;
    grid-template: repeat(4, 1fr)/1fr;
  }
}
.my-skills .my-skills__items .item__skills1__flip-card:hover .item__skills__flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.my-skills .my-skills__items .item__skills1__flip-card .item__skills__flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.my-skills .my-skills__items .item__skills1__flip-card .item__skills__flip-card-inner .flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.my-skills .my-skills__items .item__skills1__flip-card .item__skills__flip-card-inner .flip-card-front img {
  margin: 25px 0;
  width: 100px;
  height: 100px;
}
.my-skills .my-skills__items .item__skills1__flip-card .item__skills__flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgb(217, 112, 36);
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: 0 4px 8px 0 rgb(217, 112, 36);
          box-shadow: 0 4px 8px 0 rgb(217, 112, 36);
}
.my-skills .my-skills__items .item__skills1__flip-card .item__skills__flip-card-inner .flip-card-back > h6 {
  font-size: 14px;
  margin-top: 25%;
}
.my-skills .my-skills__items .item__skills1__flip-card .item__skills__flip-card-inner .flip-card-back > p {
  font-size: 14px;
}
.my-skills .my-skills__items .item__skills1__flip-card .item__skills__flip-card-inner .flip-card-back .line {
  display: block;
  margin-top: 10%;
  margin-left: 7.5%;
  position: absolute;
  width: 127.5px;
  height: 5px;
  background-color: green;
  border-radius: 2.5px;
}
.my-skills .my-skills__items .item__skills2 {
  position: relative;
  border: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.my-skills .my-skills__items .item__skills2:hover .item__skills__front {
  position: absolute;
  content: "";
  left: 0;
  -webkit-box-shadow: inset 76px 0 0 0 #54b3d6, 0 4px 8px 0 #54b3d6, inset -76px 0 0 0 #54b3d6;
          box-shadow: inset 76px 0 0 0 #54b3d6, 0 4px 8px 0 #54b3d6, inset -76px 0 0 0 #54b3d6;
  z-index: -1;
  border-radius: 8px;
}
.my-skills .my-skills__items .item__skills2:hover .item__skills__front img {
  display: none;
}
.my-skills .my-skills__items .item__skills2:hover .item__skills__back {
  display: block;
}
.my-skills .my-skills__items .item__skills2 .item__skills__front {
  width: 100%;
  height: 100%;
}
.my-skills .my-skills__items .item__skills2 .item__skills__front img {
  margin: 25px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.my-skills .my-skills__items .item__skills2 .item__skills__back {
  display: none;
  margin: auto;
  text-align: center;
  color: #ffffff;
}
.my-skills .my-skills__items .item__skills2 .item__skills__back > h6 {
  font-size: 14px;
  margin-top: 25%;
}
.my-skills .my-skills__items .item__skills2 .item__skills__back > p {
  font-size: 14px;
}
.my-skills .my-skills__items .item__skills2 .item__skills__back .line {
  width: 80%;
  height: 5px;
  background-color: green;
  display: block;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 2.5px;
}
.my-skills .my-skills__items .item__skills3 {
  position: relative;
}
.my-skills .my-skills__items .item__skills3 .item__skills__front__circle {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}
.my-skills .my-skills__items .item__skills3 .item__skills__front__circle img {
  margin: 25px;
  -webkit-transform: scale(1);
          transform: scale(1);
  max-width: 100%;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  min-width: 100px;
  min-height: 100px;
}
.my-skills .my-skills__items .item__skills3 .item__skills__front__circle:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.my-skills .my-skills__items .item__skills3 .item__skills__front__circle:hover {
  -webkit-transform: rotate(1440deg);
          transform: rotate(1440deg);
}
.my-skills .my-skills__items .item__skills3 .item__skills__front__circle:hover .item__skills__back__circle {
  visibility: visible;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.my-skills .my-skills__items .item__skills3 .item__skills__front__circle .item__skills__back__circle {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2235294118);
  text-align: center;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.my-skills .my-skills__items .item__skills3 .item__skills__front__circle .item__skills__back__circle > h6 {
  font-size: 14px;
  margin-top: 20%;
}
.my-skills .my-skills__items .item__skills3 .item__skills__front__circle .item__skills__back__circle > p {
  font-size: 14px;
}
.my-skills .my-skills__items .item__skills3 .item__skills__front__circle .item__skills__back__circle .line {
  width: 75%;
  height: 5px;
  background-color: green;
  display: block;
  margin-top: 10%;
  margin-left: 12.5%;
  border-radius: 2.5px;
}
.my-skills .my-skills__items .item__skills4 {
  position: relative;
}
.my-skills .my-skills__items .item__skills4 .item__skills__drop4 img {
  margin: 25px;
}
.my-skills .my-skills__items .item__skills4 .item__skills__drop4:hover .item__skills__drop4__hidden {
  visibility: visible;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.my-skills .my-skills__items .item__skills4 .item__skills__drop4 .item__skills__drop4__hidden {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 230, 0, 0.7411764706);
  border-radius: 5px 5px 40% 40%;
  margin: auto;
  text-align: center;
  color: #000000;
  text-align: center;
  z-index: 99;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.my-skills .my-skills__items .item__skills4 .item__skills__drop4 .item__skills__drop4__hidden > h6 {
  font-size: 14px;
  margin: 20% 5% 0;
}
.my-skills .my-skills__items .item__skills4 .item__skills__drop4 .item__skills__drop4__hidden > button {
  cursor: pointer;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.43) inset;
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.43) inset;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 14px;
}
.my-skills .my-skills__intentions {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: intentions;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 25% 75%;
      grid-template: 1fr/25% 75%;
}
@media screen and (max-width: 767px) {
  .my-skills .my-skills__intentions {
    -ms-grid-rows: 200px 10px 300px;
    -ms-grid-columns: 1fr;
        grid-template: 200px 300px/1fr;
    gap: 10px;
  }
}
.my-skills .my-skills__intentions .intention__img {
  margin: auto;
}
.my-skills .my-skills__intentions .intention__img > img {
  width: 150px;
  height: 150px;
}
.my-skills .my-skills__intentions .intention__info {
  text-align: justify;
  width: 80%;
  height: 100%;
  padding: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
.my-skills .my-skills__intentions .intention__info > p {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.my-skills .my-skills__intentions .intention__info > p em {
  color: red;
  font-size: 20px;
}

.footer {
  width: 100%;
  min-height: 200px;
  background-color: #4e4949;
}
.footer .contacts-grid {
  padding: 15px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 5px 1fr;
  grid-template-rows: 1fr 1fr;
      grid-template-areas: "about-me contacts" "footer contacts";
  gap: 5px;
}
@media screen and (max-width: 767px) {
  .footer .contacts-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas: "about-me" "contacts" "footer";
  }
}
.footer .contacts-grid .contacts__about-me {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about-me;
  color: #CFD8DC;
  text-align: center;
  margin: 25% auto 0;
}
.footer .contacts-grid .contacts__about-me h3 {
  display: inline-block;
  padding: 15px;
}
.footer .contacts-grid .contacts__contact-me {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: contacts;
  width: 100%;
  height: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.footer .contacts-grid .contacts__contact-me > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer .contacts-grid .contacts__contact-me > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.footer .contacts-grid .contacts__contact-me > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.footer .contacts-grid .contacts__contact-me > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.footer .contacts-grid .contacts__contact-me .footer__items {
  width: 150px;
  height: 150px;
  background-color: transparent;
  padding: 20px;
  margin: 0 auto;
}
.footer .contacts-grid .contacts__contact-me .footer__items .footer-icon {
  width: 65px;
  height: 65px;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  .footer .contacts-grid .contacts__contact-me .footer__items .footer-icon {
    width: 50px;
    height: 50px;
    margin: 25%;
  }
}
.footer .contacts-grid .contacts__contact-me .footer__items .footer-icon:hover {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}
.footer .contacts-grid .contacts__footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 15px;
  -ms-grid-row-align: end;
      align-self: end;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
@media screen and (max-width: 767px){
  .footer .contacts-grid .contacts__about-me {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer .contacts-grid .contacts__contact-me {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .footer .contacts-grid .contacts__footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
.footer .contacts-grid .contacts__footer > p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .footer .contacts-grid .contacts__footer {
    text-align: center;
  }
}